form {
  display: block;
  margin: 0 auto;
  border: 2px solid #04d;
  border-radius: 5px;
  padding: 15px;

  input {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px;
  }
  button {
    margin-top: 15px;
    padding: 25px;
    border: 2px solid #04d;
    border-radius: 10px;
    background-color: #04d;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease;
    &:hover {
      background-color: transparent;
      color: #04d;
    }
  }
  h4 {
    margin-top: 10px;
    font-size: 26px;
    font-weight: 700;
    color: #04d;
  }
}
